# Django
Django>=5.0.7

# Asynchronous Support & Async Django Rest Framework
uvicorn[standard]

# Redis
django-redis>=5.4.0

# Celery Workers
celery>=5.4.0
django-celery-results

#Repository of Agentworld Backend. Architecture of Django + Celery + Redis + Channels for using AI Agents Asynchronously and serve them to the client when executed. WebSockets
channels>=4.1.0
channels_redis>=4.2.0

#
djangorestframework>=3.15.2
django-rest-knox>=5.0.1